<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What is Kuara</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Kuara is an end-to-end data solution for digital marketers looking to levarage their campaign data.
          It's a data lakehouse that extracts reports directly from their sources, and serves business
          owners with its curated insights.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Bruno Pini, founder of pinimartec, is a former growth marketer and now data engineer. He grew tired of
          the messy and coslty connector-as-a-service solutions available and dedicated his efforts on developing a
          more comprehensive and simpler solution.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://airbyte-demo.pinimar.tech" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Access Demo Instance
        </a>
      </div>
    </div>
  </div>
</section>