<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What is Kuara</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Kuara is an end-to-end data solution for digital marketers looking to levarage their digital campaigns data.
          It is a data lakehouse that extracts reports firectly from the adtechs, and curates it before serving businesses
          owners with its insights. 
        </p>
      </div>
      <div class="col-lg-4">
        <p>Bruno Pini, founder of pinimartec, is a former growth marketer and now data engineer. He grew tired of dealing
          with bad data and the fragmented stack currently available, with costly subscriptions that provide no real
          value except when combined with other costly subscriptions.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://airbyte-demo.pinimar.tech" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Access Demo Instance
        </a>
      </div>
    </div>
  </div>
</section>
